@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIBLIOTECA ESMERALDA</h1>
    <h2>¡Bienvenido!</h2>
    <p>Descubre el mundo a través de los libros </p>
</div>
